In [2]:
import pandas as pd

In [2]:
df = pd.read_excel('20210702_pb_data_postcode_1.xlsx')

In [3]:
df = pd.read_csv('ZP_RM_61k_with_address_base_estimated_misses.csv')

C:\Users\hp-de\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (37,43,53,71,77,144,145,146,147,148,149,150,151,152) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
needed_postcodes = list(df['POSTCODE_LOCATOR'].unique()) # this part is optional,if base is big, we can use this technique as
                                                         # an optimization method

In [7]:
dff

,Unnamed: 0,level_0,index,fullAddress,propertyId,__typename,postcode
0,0,0,0.0,"21 Hunters Way, Welwyn Garden City AL7 4NR",300935,Properties,AL7 4NR
1,1,1,1.0,"23 Hunters Way, Welwyn Garden City AL7 4NR",300936,Properties,AL7 4NR
2,2,2,2.0,"25 Hunters Way, Welwyn Garden City AL7 4NR",300937,Properties,AL7 4NR
3,3,3,3.0,"27 Hunters Way, Welwyn Garden City AL7 4NR",300938,Properties,AL7 4NR
4,4,4,4.0,"29 Hunters Way, Welwyn Garden City AL7 4NR",300939,Properties,AL7 4NR
...,...,...,...,...,...,...,...
1536202,1536202,50,NaN,"82 Hufling Lane, Burnley BB11 3QH",1451230,Properties,BB11 3QH
1536203,1536203,51,NaN,"83 Hufling Lane, Burnley BB11 3QH",30276375,Properties,BB11 3QH
1536204,1536204,52,NaN,"84 Hufling Lane, Burnley BB11 3QH",1451231,Properties,BB11 3QH
1536205,1536205,53,NaN,"86 Hufling Lane, Burnley BB11 3QH",1451232,Properties,BB11 3QH
1536206,1536206,54,NaN,"88 Hufling Lane, Burnley BB11 3QH",1451233,Properties,BB11 3QH

In [6]:
dff = pd.read_csv('id_base_Nov29.csv')

In [8]:
def change_df(df,col_name):
    df['pk'] = '3.14'
    glob_a = {}
    def increment_postcode_if(x):
        if x in glob_a:
            glob_a[x] += 1
        else:
            glob_a[x] = 1
        return glob_a[x]
    
    df['pk'] = df[col_name].apply(lambda x:f'{x}_{increment_postcode_if(x)}') 
    df = df.set_index('pk')
    #df = df.drop('Unnamed: 0', axis=1)
    return df


def find_by_postcode(df, postcode):
    check = True
    cnt = 1
    finall_list = []
    while check:
        try:
            postcode_f = f'{postcode}_{cnt}'
            part = df.loc[postcode_f].to_dict()
    #         part = df1[df1['id'==f'{postcode}_{cnt}']].to_dict('records')
            finall_list += [part]
            cnt += 1
        except KeyError:
            check = False
    return pd.DataFrame(finall_list)


def exclude_postcode_from_address(address):
    try:
        return address.replace(re.findall(r'[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z]{2}', address)[0], '').strip()
    except IndexError:
        return 0

In [9]:
def to_str(x):
    try:
        a = str(int(x))
    except:
        a = x
    return a

def parse_base(allbase_kept):

    
    allbase_kept['BUILDING_NUMBER']=allbase_kept['BUILDING_NUMBER'].apply(lambda x:to_str(x))
    allbase_kept['SUB_BUILDING_NAME']=allbase_kept['SUB_BUILDING_NAME'].apply(lambda x:to_str(x))
    allbase_kept['BUILDING_NAME']=allbase_kept['BUILDING_NAME'].apply(lambda x:to_str(x))
    allbase_kept['BUILDING_NUMBER']=allbase_kept['BUILDING_NUMBER'].astype(str).apply(lambda x:x.lower())
    allbase_kept['BUILDING_NAME']=allbase_kept['BUILDING_NAME'].astype(str).apply(lambda x:x.lower())
    allbase_kept['SUB_BUILDING_NAME']=allbase_kept['SUB_BUILDING_NAME'].astype(str).apply(lambda x:x.lower())

    return allbase_kept

In [10]:
dff = change_df(dff,'postcode')

In [11]:
dff = dff.rename(columns={"fullAddress": "ADDRESS"})

In [12]:
df = parse_base(df)

In [13]:
dff['ADDRESS'] = dff['ADDRESS'].apply(lambda x: ' '.join(x.lower().split(',')).strip())

In [14]:
en_ex = 0
rand_found = 0
def match(df,dff,index):
    global en_ex
    global rand_found
    p_code = df.iloc[index]['POSTCODE_LOCATOR']
    temp = find_by_postcode(dff,p_code)
    row = df.iloc[index]
    
    #print(temp['ADDRESS'])
#     print(row)
    
    for x in range(len(temp)):
        t = temp.iloc[x]['ADDRESS'].split(' ')
        t = [string for string in t if string != ""]
        #print(t)
        if t[0][0].isdigit() and row['BUILDING_NUMBER'] != 'nan':
            match = False
            if t[0].isdigit():
                t[0] = str(int(t[0]))
            else:
                t[0] = t[0].strip().lower()
            try:
                building_number = str(int(row['BUILDING_NUMBER'])).strip()
            except:
                building_number = ''
#             print(t[0])
            try:
                if  t[0] == building_number or t[0] == row['BUILDING_NAME'].strip().lower()\
                    or t[0] == row['SUB_BUILDING_NAME'].strip().lower():
                    #print(row['SUB_BUILDING_NAME'],',',temp.iloc[x]['ADDRESS'])
                    if (df.iloc[index]['SUB_BUILDING_NAME']) != 'nan':
                        if str(row['SUB_BUILDING_NAME']).strip().lower() in temp.iloc[x]['ADDRESS']:
                            #print(row['SUB_BUILDING_NAME'].strip().lower())
                            return temp.iloc[x]
                    else:
                        return temp.iloc[x]
                else:
    #                 print(str(row['BUILDING_NAME']),str(temp.iloc[x]['address']))
                    if str(row['BUILDING_NAME']).lower().replace(' ','') in str(temp.iloc[x]['ADDRESS']).lower().replace(' ','') and str(row['BUILDING_NAME']) != 'nan':
                        return temp.iloc[x]
            except:
                en_ex+=1
        else:
            for add in t:
                if add[0].isdigit():
                    digit = True
                    try:
                        building_number = str(int(row['BUILDING_NUMBER'])).strip()
                    except:
                        building_number = ''
                    try:
                        if  add == building_number or add == row['BUILDING_NAME'].strip().lower()\
                            or add == row['SUB_BUILDING_NAME'].strip().lower():
                            if (df.iloc[index]['SUB_BUILDING_NAME']) != 'nan':
                                if str(row['SUB_BUILDING_NAME']).strip().lower() in temp.iloc[x]['ADDRESS']:
                                    #print(row['SUB_BUILDING_NAME'].strip().lower())
                                    return temp.iloc[x]
                            else:
                                return temp.iloc[x]
                    except:
                        en_ex+=1
                        
    temp_1 = []            
    for x in range(len(temp)):
        t = temp.iloc[x]['ADDRESS'].split(' ')
        t = [string for string in t if string != ""]
        bn = str(row['BUILDING_NAME']).strip().lower()
        #print(t)
        if bn in t:
            temp_1.append(temp.iloc[x])
            #print("afasfasfasf")
        
        bn_spl = bn.split()
        #print(bn_spl)
        flag = True
        for i in bn_spl:
            if i in t:
                continue
            else:
                flag = False
                break
        
        if flag == True:
            temp_1.append(temp.iloc[x])
        
    
    
    temp_1 = pd.DataFrame(temp_1)
    #print('\n')
    #print(temp_1)
    if len(temp_1) == 0:
        return 'Not Found'
    if len(temp_1) == 1:
        return temp_1.iloc[0]
    
    for k in temp_1.index:
        #print("dfasdfasfasfasfasfasfasf")
        #print(temp_1['ADDRESS'])
        #print('\n')
        if row['SUB_BUILDING_NAME'] in temp_1['ADDRESS']:
            return temp1.iloc[k]
    for k in range(len(temp_1.index)):
        tt = temp_1.iloc[k]['ADDRESS'].split()
        bn = str(row['SUB_BUILDING_NAME']).strip().lower()
        #print(t)
        bn_spl = bn.split()
        #print(bn_spl)
        flag = True
        for i in bn_spl:
            if i in tt:
                continue
            else:
                flag = False
                break
        
        if flag == True:
            return temp_1.iloc[k]
    #print(temp_1.index, "adsfasfsaf")
    if len(temp_1.index)!=0:
        rand_found+=1
        return temp_1.iloc[0]

            
                
    return 'Not Found'

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Date,Property type,Price,Source,Address,KeyFeatures,latitude,...,transport_code_2,transport_name_0,transport_name_1,transport_name_2,transport_type_0,transport_type_1,transport_type_2,transport_dist_0,transport_dist_1,transport_dist_2
0,0,0,0,25 Jun 2021,"Detached, Freehold","Â£995,000",Land Registry,"41 Runcie Close, St Albans, Hertfordshire AL4 9AX",Detached\nFour Bedrooms\nTwo Bathrooms\nStudy\...,51.770175,...,'210021502070','Pondfield Crescent','Marshalswick Lane','Marshalswick Lane','Bus','Bus','Bus',0.237281,0.299074,0.313605
1,1,1,1,10 Jun 2021,"Terraced, Freehold","Â£650,000",Land Registry,"37 Albany Road, Birmingham, West Midlands B17 9JX",VICTORIAN MID TERRACE\nFOUR BEDROOMS\nPERIOD F...,52.459072,...,'43000320202','Harborne Junction','Harborne Junction','Harborne Junction','Bus','Bus','Bus',0.133796,0.137707,0.129067
2,2,2,2,30 Jun 2021,"Detached, Freehold","Â£350,000",Land Registry,"19 Bibsworth Avenue, Birmingham, West Midlands...",Detached\nThree Bedrooms\nKitchen Diner\nTwo R...,52.432568,...,'43000429301','Bibsworth Avenue','Wake Green Rd','Thirlmere Drive','Bus','Bus','Bus',0.101797,0.148193,0.215372
3,3,3,3,18 Jun 2021,"Detached, Freehold","Â£382,500",Land Registry,"24 Sandy Croft, Birmingham, West Midlands B13 0EP",3 Bedrooms\nPorch\nEntrance Hall\nLounge\nKitc...,52.427717,...,'43000432702','Westridge Rd','Westridge Rd','Dene Hollow','Bus','Bus','Bus',0.097220,0.105499,0.187090
4,4,4,4,30 Jul 2021,"Semi-Detached, Freehold","Â£213,500",Land Registry,"15 Poppy Walk, Hatfield, Hertfordshire AL10 9FP",One Bedroomed House\nAllocated Parking\nChain ...,51.774284,...,'210021690570','Daisy Drive','Mulberry Mead','Mulberry Mead','Bus','Bus','Bus',0.112517,0.192354,0.193202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61118,61118,61118,61118,Aug 2021,NaN,"Â£225,000",NaN,53 Strathmore Avenue LU1 3NY,"Terraced house, Freehold, 3 Beds, 2 Baths, 2 R...",51.872773,...,'2905047','Seymour Avenue','New Town Road','Cambridge Street','Bus','Bus','Bus',0.064839,0.059859,0.070945
61119,61119,61119,61119,Aug 2021,NaN,"Â£60,000",NaN,13 Robinson Street DH8 5TR,"Terraced house, Freehold, 2 Beds, 1 Bath, 2 Re...",54.861234,...,'13001573G','The Cricketers','The Cricketers','The Cricketers','Bus','Bus','Bus',0.094796,0.177964,0.179140
61120,61120,61120,61120,Aug 2021,NaN,"Â£125,000",NaN,10 Merrington Road TF2 8PY,"Semi-detached house, Freehold",52.725638,...,'3590E048000','Sutherland Drive','Sutherland Drive','Fieldhouse Drive','Bus','Bus','Bus',0.257807,0.243798,0.186875
61121,61121,61121,61121,Aug 2021,NaN,"Â£318,000",NaN,"8 Mount View, Church Lane West GU11 3LN",NaN,51.243067,...,'1900HA090300','Bridge Road','Bridge Road','Halimote Road','Bus','Bus','Bus',0.146733,0.175703,0.233379
61122,61122,61122,61122,Aug 2021,NaN,"Â£112,000",NaN,"6, Ryndle Manor, Lowdale Avenue YO12 6JN","Flat, Freehold, 2 Beds, 1 Bath, 2 Receps",54.290015,...,'3200YNA01174','Shops','Broom Walk','Shops','Bus','Bus','Bus',0.120177,0.076721,0.140704

In [16]:
dff

,Unnamed: 0,level_0,index,ADDRESS,propertyId,__typename,postcode
pk,,,,,,,
AL7 4NR_1,0,0,0.0,21 hunters way welwyn garden city al7 4nr,300935,Properties,AL7 4NR
AL7 4NR_2,1,1,1.0,23 hunters way welwyn garden city al7 4nr,300936,Properties,AL7 4NR
AL7 4NR_3,2,2,2.0,25 hunters way welwyn garden city al7 4nr,300937,Properties,AL7 4NR
AL7 4NR_4,3,3,3.0,27 hunters way welwyn garden city al7 4nr,300938,Properties,AL7 4NR
AL7 4NR_5,4,4,4.0,29 hunters way welwyn garden city al7 4nr,300939,Properties,AL7 4NR
...,...,...,...,...,...,...,...
BB11 3QH_51,1536202,50,NaN,82 hufling lane burnley bb11 3qh,1451230,Properties,BB11 3QH
BB11 3QH_52,1536203,51,NaN,83 hufling lane burnley bb11 3qh,30276375,Properties,BB11 3QH
BB11 3QH_53,1536204,52,NaN,84 hufling lane burnley bb11 3qh,1451231,Properties,BB11 3QH
BB11 3QH_54,1536205,53,NaN,86 hufling lane burnley bb11 3qh,1451232,Properties,BB11 3QH
BB11 3QH_55,1536206,54,NaN,88 hufling lane burnley bb11 3qh,1451233,Properties,BB11 3QH

In [17]:
match(df,dff,3)

Unnamed: 0                                            107
level_0                                               107
index                                                  22
ADDRESS       24 sandy croft  moseley  birmingham b13 0ep
propertyId                                         395272
__typename                                     Properties
postcode                                          B13 0EP
Name: 22, dtype: object

In [25]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Date,Property type,Price,Source,Address,KeyFeatures,latitude,...,transport_name_0,transport_name_1,transport_name_2,transport_type_0,transport_type_1,transport_type_2,transport_dist_0,transport_dist_1,transport_dist_2,id
0,0,0,0,25 Jun 2021,"Detached, Freehold","Â£995,000",Land Registry,"41 Runcie Close, St Albans, Hertfordshire AL4 9AX",Detached\nFour Bedrooms\nTwo Bathrooms\nStudy\...,51.770175,...,'Pondfield Crescent','Marshalswick Lane','Marshalswick Lane','Bus','Bus','Bus',0.237281,0.299074,0.313605,267231
1,1,1,1,10 Jun 2021,"Terraced, Freehold","Â£650,000",Land Registry,"37 Albany Road, Birmingham, West Midlands B17 9JX",VICTORIAN MID TERRACE\nFOUR BEDROOMS\nPERIOD F...,52.459072,...,'Harborne Junction','Harborne Junction','Harborne Junction','Bus','Bus','Bus',0.133796,0.137707,0.129067,452066
2,2,2,2,30 Jun 2021,"Detached, Freehold","Â£350,000",Land Registry,"19 Bibsworth Avenue, Birmingham, West Midlands...",Detached\nThree Bedrooms\nKitchen Diner\nTwo R...,52.432568,...,'Bibsworth Avenue','Wake Green Rd','Thirlmere Drive','Bus','Bus','Bus',0.101797,0.148193,0.215372,394385
3,3,3,3,18 Jun 2021,"Detached, Freehold","Â£382,500",Land Registry,"24 Sandy Croft, Birmingham, West Midlands B13 0EP",3 Bedrooms\nPorch\nEntrance Hall\nLounge\nKitc...,52.427717,...,'Westridge Rd','Westridge Rd','Dene Hollow','Bus','Bus','Bus',0.097220,0.105499,0.187090,395272
4,4,4,4,30 Jul 2021,"Semi-Detached, Freehold","Â£213,500",Land Registry,"15 Poppy Walk, Hatfield, Hertfordshire AL10 9FP",One Bedroomed House\nAllocated Parking\nChain ...,51.774284,...,'Daisy Drive','Mulberry Mead','Mulberry Mead','Bus','Bus','Bus',0.112517,0.192354,0.193202,27504935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61118,61118,61118,61118,Aug 2021,NaN,"Â£225,000",NaN,53 Strathmore Avenue LU1 3NY,"Terraced house, Freehold, 3 Beds, 2 Baths, 2 R...",51.872773,...,'Seymour Avenue','New Town Road','Cambridge Street','Bus','Bus','Bus',0.064839,0.059859,0.070945,13789815
61119,61119,61119,61119,Aug 2021,NaN,"Â£60,000",NaN,13 Robinson Street DH8 5TR,"Terraced house, Freehold, 2 Beds, 1 Bath, 2 Re...",54.861234,...,'The Cricketers','The Cricketers','The Cricketers','Bus','Bus','Bus',0.094796,0.177964,0.179140,6819504
61120,61120,61120,61120,Aug 2021,NaN,"Â£125,000",NaN,10 Merrington Road TF2 8PY,"Semi-detached house, Freehold",52.725638,...,'Sutherland Drive','Sutherland Drive','Fieldhouse Drive','Bus','Bus','Bus',0.257807,0.243798,0.186875,23797024
61121,61121,61121,61121,Aug 2021,NaN,"Â£318,000",NaN,"8 Mount View, Church Lane West GU11 3LN",NaN,51.243067,...,'Bridge Road','Bridge Road','Halimote Road','Bus','Bus','Bus',0.146733,0.175703,0.233379,9899488
61122,61122,61122,61122,Aug 2021,NaN,"Â£112,000",NaN,"6, Ryndle Manor, Lowdale Avenue YO12 6JN","Flat, Freehold, 2 Beds, 1 Bath, 2 Receps",54.290015,...,'Shops','Broom Walk','Shops','Bus','Bus','Bus',0.120177,0.076721,0.140704,26452362

In [21]:
df['id'] = '-'

In [22]:
res

NameError: name 'res' is not defined

In [23]:
ms = 0
fn = 0
for x in range(len(df.index)):
    if x%100 == 0:
        print(x,ms,fn)
        #df.to_csv('est_sold_match.csv')
    try:
        res = match(df,dff,x)
    except:
        ms+=1
        continue
    try:
        df.loc[x,'id'] = res['propertyId']
        fn+=1
        
    except:
        df.loc[x,'id'] = res

0 0 0
100 0 100
200 0 200
300 0 300
400 0 400
500 0 499
600 0 599
700 0 699
800 0 799
900 0 897
1000 0 997
1100 0 1097
1200 0 1197
1300 0 1296
1400 0 1396
1500 0 1495
1600 0 1595
1700 0 1693
1800 0 1793
1900 0 1893
2000 0 1992
2100 0 2092
2200 0 2192
2300 0 2292
2400 0 2392
2500 0 2492
2600 0 2592
2700 0 2692
2800 0 2791
2900 0 2891
3000 0 2990
3100 0 3089
3200 0 3187
3300 0 3287
3400 0 3387
3500 0 3486
3600 0 3584
3700 0 3684
3800 0 3783
3900 0 3883
4000 0 3982
4100 0 4082
4200 0 4179
4300 0 4279
4400 0 4379
4500 0 4476
4600 0 4575
4700 0 4674
4800 0 4773
4900 0 4873
5000 0 4972
5100 0 5072
5200 0 5171
5300 0 5271
5400 0 5371
5500 0 5471
5600 0 5571
5700 0 5670
5800 0 5769
5900 0 5869
6000 0 5969
6100 0 6069
6200 0 6169
6300 0 6268
6400 0 6367
6500 0 6467
6600 0 6565
6700 0 6665
6800 0 6765
6900 0 6863
7000 0 6963
7100 0 7062
7200 0 7162
7300 0 7261
7400 0 7361
7500 0 7461
7600 0 7560
7700 0 7660
7800 0 7758
7900 0 7857
8000 0 7956
8100 0 8056
8200 0 8156
8300 0 8255
8400 0 8355
8500 0 8455
8600 0 8555
8700 0 8655
8800 0 8754
8900 0 8854
9000 0 8954
9100 0 9053
9200 0 9152
9300 0 9251
9400 0 9351
9500 0 9450
9600 0 9550
9700 0 9649
9800 0 9749
9900 0 9848
10000 0 9948
10100 0 10048
10200 0 10148
10300 0 10248
10400 0 10347
10500 0 10447
10600 0 10547
10700 0 10646
10800 0 10746
10900 0 10846
11000 0 10946
11100 0 11046
11200 0 11144
11300 0 11243
11400 0 11342
11500 0 11442
11600 0 11542
11700 0 11642
11800 0 11742
11900 0 11842
12000 0 11942
12100 0 12041
12200 0 12141
12300 0 12241
12400 0 12341
12500 0 12441
12600 0 12541
12700 0 12641
12800 0 12741
12900 0 12840
13000 0 12939
13100 0 13038
13200 0 13136
13300 0 13236
13400 0 13335
13500 0 13435
13600 0 13535
13700 0 13633
13800 0 13732
13900 0 13832
14000 0 13932
14100 0 14032
14200 0 14131
14300 0 14230
14400 0 14330
14500 0 14430
14600 0 14530
14700 0 14630
14800 0 14730
14900 0 14829
15000 0 14929
15100 0 15029
15200 0 15128
15300 0 15227
15400 0 15327
15500 0 15426
15600 0 15526
15700 0 15626
15800 0 15724
15900 0 15824
16000 0 15924
16100 0 16024
16200 0 16124
16300 0 16224
16400 0 16324
16500 0 16424
16600 0 16524
16700 0 16623
16800 0 16722
16900 0 16822
17000 0 16922
17100 0 17022
17200 0 17122
17300 0 17222
17400 0 17321
17500 0 17419
17600 0 17519
17700 0 17619
17800 0 17717
17900 0 17817
18000 0 17914
18100 0 18014
18200 0 18114
18300 0 18214
18400 0 18314
18500 0 18414
18600 0 18512
18700 0 18612
18800 0 18712
18900 0 18812
19000 0 18911
19100 0 19010
19200 0 19110
19300 0 19209
19400 0 19309
19500 0 19408
19600 0 19508
19700 0 19607
19800 0 19705
19900 0 19803
20000 0 19903
20100 0 20002
20200 0 20102
20300 0 20202
20400 0 20302
20500 0 20402
20600 0 20502
20700 0 20602
20800 0 20702
20900 0 20802
21000 0 20902
21100 0 21002
21200 0 21101
21300 0 21201
21400 0 21301
21500 0 21401
21600 0 21500
21700 0 21600
21800 0 21698
21900 0 21797
22000 0 21897
22100 0 21997
22200 0 22096
22300 0 22195
22400 0 22295
22500 0 22395
22600 0 22494
22700 0 22592
22800 0 22692
22900 0 22792
23000 0 22892
23100 0 22991
23200 0 23091
23300 0 23190
23400 0 23290
23500 0 23390
23600 0 23489
23700 0 23589
23800 0 23688
23900 0 23788
24000 0 23887
24100 0 23987
24200 0 24087
24300 0 24186
24400 0 24284
24500 0 24384
24600 0 24484
24700 0 24583
24800 0 24681
24900 0 24781
25000 0 24881
25100 0 24981
25200 0 25081
25300 0 25181
25400 0 25281
25500 0 25381
25600 0 25481
25700 0 25581
25800 0 25681
25900 0 25779
26000 0 25879
26100 0 25979
26200 0 26078
26300 0 26178
26400 0 26277
26500 0 26377
26600 0 26475
26700 0 26574
26800 0 26674
26900 0 26774
27000 0 26874
27100 0 26974
27200 0 27074
27300 0 27174
27400 0 27273
27500 0 27373
27600 0 27472
27700 0 27572
27800 0 27672
27900 0 27771
28000 0 27871
28100 0 27970
28200 0 28070
28300 0 28170
28400 0 28269
28500 0 28369
28600 0 28469
28700 0 28569
28800 0 28669
28900 0 28769
29000 0 28869
29100 0 28968
29200 0 29068
29300 0 29167
29400 0 29267
29500 0 29367
29600 0 29467
29700 0 29567
29800 0 29665
29900 0 29764
30000 0 29862
30100 0 29961
30200 0 30060
30300 0 30160
30400 0 30260
30500 0 30359
30600 0 30459
30700 0 30557
30800 0 30656
30900 0 30756
31000 0 30856
31100 0 30955
31200 0 31055
31300 0 31154
31400 0 31254
31500 0 31352
31600 0 31452
31700 0 31552
31800 0 31652
31900 0 31752
32000 0 31851
32100 0 31951
32200 0 32051
32300 0 32150
32400 0 32250
32500 0 32350
32600 0 32450
32700 0 32548
32800 0 32648
32900 0 32748
33000 0 32848
33100 0 32948
33200 0 33048
33300 0 33148
33400 0 33247
33500 0 33347
33600 0 33446
33700 0 33546
33800 0 33645
33900 0 33745
34000 0 33845
34100 0 33944
34200 0 34043
34300 0 34142
34400 0 34242
34500 0 34342
34600 0 34441
34700 0 34541
34800 0 34641
34900 0 34741
35000 0 34841
35100 0 34941
35200 0 35040
35300 0 35140
35400 0 35239
35500 0 35339
35600 0 35439
35700 0 35538
35800 0 35638
35900 0 35738
36000 0 35837
36100 0 35937
36200 0 36037
36300 0 36137
36400 0 36236
36500 0 36335
36600 0 36435
36700 0 36534
36800 0 36634
36900 0 36734
37000 0 36833
37100 0 36932
37200 0 37032
37300 0 37131
37400 0 37230
37500 0 37329
37600 0 37427
37700 0 37527
37800 0 37627
37900 0 37727
38000 0 37827
38100 0 37927
38200 0 38027
38300 0 38126
38400 0 38226
38500 0 38326
38600 0 38426
38700 0 38525
38800 0 38624
38900 0 38724
39000 0 38824
39100 0 38924
39200 0 39024
39300 0 39124
39400 0 39221
39500 0 39321
39600 0 39421
39700 0 39521
39800 0 39621
39900 0 39720
40000 0 39819
40100 0 39919
40200 0 40019
40300 0 40119
40400 0 40219
40500 0 40319
40600 0 40419
40700 0 40519
40800 0 40619
40900 0 40719
41000 0 40818
41100 0 40917
41200 0 41017
41300 0 41117
41400 0 41217
41500 0 41317
41600 0 41417
41700 0 41516
41800 0 41616
41900 0 41716
42000 0 41816
42100 0 41915
42200 0 42015
42300 0 42114
42400 0 42214
42500 0 42313
42600 0 42413
42700 0 42500
42800 0 42600
42900 0 42698
43000 0 42798
43100 0 42898
43200 0 42998
43300 0 43098
43400 0 43198
43500 0 43298
43600 0 43398
43700 0 43497
43800 0 43597
43900 0 43697
44000 0 43797
44100 0 43896
44200 0 43996
44300 0 44095
44400 0 44195
44500 0 44294
44600 0 44394
44700 0 44493
44800 0 44593
44900 0 44693
45000 0 44793
45100 0 44892
45200 0 44992
45300 0 45092
45400 0 45192
45500 0 45292
45600 0 45392
45700 0 45492
45800 0 45592
45900 0 45692
46000 0 45792
46100 0 45892
46200 0 45992
46300 0 46092
46400 0 46192
46500 0 46292
46600 0 46392
46700 0 46492
46800 0 46592
46900 0 46691
47000 0 46791
47100 0 46891
47200 0 46991
47300 0 47090
47400 0 47190
47500 0 47290
47600 0 47390
47700 0 47490
47800 0 47590
47900 0 47690
48000 0 47790
48100 0 47889
48200 0 47989
48300 0 48089
48400 0 48189
48500 0 48289
48600 0 48388
48700 0 48488
48800 0 48588
48900 0 48687
49000 0 48786
49100 0 48885
49200 0 48985
49300 0 49085
49400 0 49185
49500 0 49285
49600 0 49384
49700 0 49481
49800 0 49581
49900 0 49681
50000 0 49780
50100 0 49880
50200 0 49980
50300 0 50079
50400 0 50178
50500 0 50277
50600 0 50377
50700 0 50475
50800 0 50574
50900 0 50673
51000 0 50773
51100 0 50872
51200 0 50970
51300 0 51069
51400 0 51168
51500 0 51266
51600 0 51366
51700 0 51466
51800 0 51565
51900 0 51665
52000 0 51765
52100 0 51865
52200 0 51965
52300 0 52065
52400 0 52164
52500 0 52262
52600 0 52361
52700 0 52461
52800 0 52561
52900 0 52660
53000 0 52760
53100 0 52860
53200 0 52960
53300 0 53060
53400 0 53160
53500 0 53260
53600 0 53360
53700 0 53460
53800 0 53559
53900 0 53659
54000 0 53758
54100 0 53857
54200 0 53956
54300 0 54056
54400 0 54155
54500 0 54255
54600 0 54354
54700 0 54454
54800 0 54554
54900 0 54654
55000 0 54753
55100 0 54852
55200 0 54952
55300 0 55052
55400 0 55152
55500 0 55250
55600 0 55350
55700 0 55450
55800 0 55550
55900 0 55650
56000 0 55750
56100 0 55850
56200 0 55950
56300 0 56050
56400 0 56150
56500 0 56250
56600 0 56349
56700 0 56449
56800 0 56548
56900 0 56640
57000 0 56739
57100 0 56839
57200 0 56939
57300 0 57039
57400 0 57139
57500 0 57239
57600 0 57339
57700 0 57439
57800 0 57539
57900 0 57639
58000 0 57739
58100 0 57839
58200 0 57938
58300 0 58038
58400 0 58137
58500 0 58237
58600 0 58336
58700 0 58435
58800 0 58535
58900 0 58634
59000 0 58734
59100 0 58834
59200 0 58934
59300 0 59033
59400 0 59132
59500 0 59232
59600 0 59332
59700 0 59432
59800 0 59531
59900 0 59631
60000 0 59731
60100 0 59831

60200 0 59931
60300 0 60030
60400 0 60130
60500 0 60230
60600 0 60330
60700 0 60428
60800 0 60526
60900 0 60625
61000 0 60725
61100 0 60825

In [27]:
dff

,Unnamed: 0,level_0,index,ADDRESS,propertyId,__typename,postcode
pk,,,,,,,
AL7 4NR_1,0,0,0.0,21 hunters way welwyn garden city al7 4nr,300935,Properties,AL7 4NR
AL7 4NR_2,1,1,1.0,23 hunters way welwyn garden city al7 4nr,300936,Properties,AL7 4NR
AL7 4NR_3,2,2,2.0,25 hunters way welwyn garden city al7 4nr,300937,Properties,AL7 4NR
AL7 4NR_4,3,3,3.0,27 hunters way welwyn garden city al7 4nr,300938,Properties,AL7 4NR
AL7 4NR_5,4,4,4.0,29 hunters way welwyn garden city al7 4nr,300939,Properties,AL7 4NR
...,...,...,...,...,...,...,...
BB11 3QH_51,1536202,50,NaN,82 hufling lane burnley bb11 3qh,1451230,Properties,BB11 3QH
BB11 3QH_52,1536203,51,NaN,83 hufling lane burnley bb11 3qh,30276375,Properties,BB11 3QH
BB11 3QH_53,1536204,52,NaN,84 hufling lane burnley bb11 3qh,1451231,Properties,BB11 3QH
BB11 3QH_54,1536205,53,NaN,86 hufling lane burnley bb11 3qh,1451232,Properties,BB11 3QH
BB11 3QH_55,1536206,54,NaN,88 hufling lane burnley bb11 3qh,1451233,Properties,BB11 3QH

In [24]:
df.to_csv('ZP_RM_61k_with_address_base_estimated_misses_with_id.csv')

In [48]:
df[df['id']!='Not Found']

,Unnamed: 0,Unnamed: 0.1,level_0,index,date,address,status,beds,type,agent,...,ALT_LANGUAGE,_merge,INSPECTION_DATE,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,TOTAL_FLOOR_AREA,ENERGY_CONSUMPTION_CURRENT,ENERGY_CONSUMPTION_POTENTIAL,NUMBER_HABITABLE_ROOMS,id
0,0,0,12,2191039,13.04.2021,"Berrichon Crescent, Whitehouse, Milton Keynes,...",Added,5,Detached House For Sale,Purplebricks,...,NaN,both,2017-03-30,86,92,196.0,74,45.0,NaN,32455762
1,1,1,40,1418831,04.06.2020,"Primrose Walk, Warminster",Added,3,Semi-Detached House For Sale,Cooper & Tanner,...,NaN,both,2020-05-21,69,86,68.0,222,97.0,5.0,1199004
2,2,2,118,2246204,08.03.2021,"Lamberhurst House, 13 Lovelinch Close, London,...",Reduced,3,Maisonette For Sale,Your Move,...,NaN,both,2010-12-21,75,81,74.57,207,153.0,3.0,21055134
3,3,3,155,985219,20.03.2020,"Main Street, Ingleby, Derby",Added,4,Equestrian Facility For Sale,Ashley Adams,...,NaN,both,2020-05-26,13,90,173.0,866,170.0,6.0,6627597
4,4,4,190,1693903,13.04.2021,"Queen Street, Coggeshall",Added,2,Terraced House For Sale,Philip James Estates,...,NaN,both,2019-06-08,71,87,63.0,187,63.0,3.0,5077659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,0,38,1358261,08.12.2020,"Wimblestone Road, WINSCOMBE",Added,3,Semi-Detached House For Sale,Farrons,...,NaN,both,2019-10-01,63,84,111.0,234,84.0,6.0,2867184
1996,1996,1,233,1135805,21.03.2020,"Church Street, Broadstairs",Added,2,Terraced House For Sale,Miles & Barr,...,NaN,both,2018-06-01,85,97,66.0,79,-15.0,NaN,32668837
1997,1997,2,436,2034719,11.06.2021,"The Hawnelands,Halesowen,B63 3RT",Added,3,Semi-Detached House For Sale,eXp UK,...,NaN,both,2012-05-03,58,75,127.0,250,144.0,6.0,803799
1998,1998,3,587,1648853,05.03.2021,"Swale Avenue, Peterborough",Added,3,Semi-Detached House For Sale,Newton Fallowell,...,NaN,both,2021-03-04,67,82,83.0,218,109.0,4.0,18003380
1999,1999,4,1008,2065649,25.05.2021,"Corporation Street, Hillmarton Conservation Area",Reduced,2,Flat For Sale,Dexters,...,NaN,both,2011-12-22,68,70,68.99,204,196.0,4.0,15127176

In [33]:
ind = 501

In [34]:
df.iloc[ind]['BUILDING_NAME']

'2 the old telephone exchange'

In [35]:
df.iloc[ind]['SUB_BUILDING_NAME']

'nan'

In [36]:
df.iloc[ind]['BUILDING_NUMBER']

'nan'

In [37]:
df.iloc[ind]['POSTCODE_LOCATOR']

'KT16 0DP'

In [38]:
df.iloc[ind]['address']

'The Courtyard, Pontefract, WF8'

In [26]:
df.iloc[500]['id']

19670529

In [20]:
df.to_csv('lilit_epc_school_transport_halfest.csv')

In [20]:
for x in dff['ADDRESS']:
    if 'gallions reach' in x:
        print(x)

In [25]:
list(find_by_postcode(dff,'DN10 4AN')['ADDRESS'])

['beacon view  fountain hill road  walkeringham  doncaster dn10 4lt',
 'carrfield farm  fountain hill road  walkeringham  doncaster dn10 4lt',
 'cedar house  fountain hill road  walkeringham  doncaster dn10 4lt',
 'eastlyn  fountain hill road  walkeringham  doncaster dn10 4lt']